<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="/static/assets/styletra/css/style.css">
    <link rel="stylesheet" href="/static/assets/styletra/css/style1.css">
    <title>TOM-MEDLOG GED</title>
    <style>
        .custom-card {
            width: 75%;
        }
    </style>
</head>
<body>
    <aside class="sidebar" style="background-color: rgb(49, 47, 47);">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">
            <div class="profile">
                <img src="images/logo.png" alt="Image" class="img-fluid">
            </div>
            
            <!-- Menu principal -->
            <div class="nav-menu">
                <ul>
                    <li class="accordion main-menu">
                     
                            <span class="icon-home mr-3"></span>MENU PRINCIPAL
                        
                    </li>
                </ul>
            </div>
    
            <div class="nav-menu">
                <ul>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseFacturation" aria-expanded="false" aria-controls="collapseFacturation" class="collapsible">
                            <span class="icon-file-text mr-3"></span>FACTURATION
                        </a>
                        <div id="collapseFacturation" class="collapse" aria-labelledby="headingFacturation">
                            <div>
                                <ul>
                                    <li><a href="./list_boite_facturation.html">LISTE DES BOITES</a></li>
                                    <li><a href="./ajouter-boite.html">AJOUTER UNE BOITE</a></li>
                                    <li><a href="./list_document_facturation.html">LISTE DES DOCUMENTS</a></li>
                                    <li><a href="./ajouter-document.html">AJOUTER UN DOCUMENT</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseArchive" aria-expanded="false" aria-controls="collapseArchive" class="collapsible">
                            <span class="icon-archive mr-3"></span>ARCHIVE
                        </a>
                        <div id="collapseArchive" class="collapse" aria-labelledby="headingArchive">
                            <div>
                                <ul>
                                    <li><a href="./list_boite_cloture_archive.html">LISTE DES BOITES CLOTURÉES</a></li>
                                    <li><a href="./list_document_classe_archive.html">LISTE DES DOCUMENTS CLASSÉS</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseDocumentation" aria-expanded="false" aria-controls="collapseDocumentation" class="collapsible">
                            <span class="icon-book mr-3"></span>DOCUMENTATION
                        </a>
                        <div id="collapseDocumentation" class="collapse" aria-labelledby="headingDocumentation">
                            <div>
                                <ul>
                                    <li><a href="./list_document_documentation.html">LISTE DES DOCUMENTS</a></li>
                                    <li><a href="./chart-morris.html">AJOUTER UN DOCUMENT</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseTransfert" aria-expanded="false" aria-controls="collapseTransfert" class="collapsible">
                            <span class="icon-sync mr-3"></span>TRANSFERT
                        </a>
                        <div id="collapseTransfert" class="collapse" aria-labelledby="headingTransfert">
                            <div>
                                <ul>
                                    <li><a href="./list_document_transfert.html">LISTER DES DOCUMENTS</a></li>
                                    <li><a href="./chart-morris.html">AJOUTER UN DOCUMENT</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseParcLogistique" aria-expanded="false" aria-controls="collapseParcLogistique" class="collapsible">
                            <span class="icon-truck mr-3"></span>PARC LOGISTIQUE
                        </a>
                        <div id="collapseParcLogistique" class="collapse" aria-labelledby="headingParcLogistique">
                            <div>
                                <ul>
                                    <li><a href="./list_document_parc.html">LISTE DES DOCUMENTS</a></li>
                                    <li><a href="./parc-logistique-ajout.html">AJOUTER UN VÉHICULE</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseSacherie" aria-expanded="false" aria-controls="collapseSacherie" class="collapsible">
                            <span class="icon-box mr-3"></span>SACHERIE
                        </a>
                        <div id="collapseSacherie" class="collapse" aria-labelledby="headingSacherie">
                            <div>
                                <ul>
                                    <li><a href="./list_document_sacherie.html">LISTE DES DOCUMENTS</a></li>
                                    <li><a href="./sacherie-ajout.html">AJOUTER UN ARTICLE</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseComptabilite" aria-expanded="false" aria-controls="collapseComptabilite" class="collapsible">
                            <span class="icon-calculator mr-3"></span>COMPTABILITÉ
                        </a>
                        <div id="collapseComptabilite" class="collapse" aria-labelledby="headingComptabilite">
                            <div>
                                <ul>
                                    <li><a href="./list_document_comptabilite.html">LISTE DES DOCUMENTS</a></li>
                                    <li><a href="./comptabilite-ajout.html">AJOUTER UN COMPTE</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseManagementIT" aria-expanded="false" aria-controls="collapseManagementIT" class="collapsible">
                            <span class="icon-laptop mr-3"></span>SERVICE IT
                        </a>
                        <div id="collapseManagementIT" class="collapse" aria-labelledby="headingManagementIT">
                            <div>
                                <ul>
                                    <li><a href="./list_document_it.html">LISTE DES DOCUMENTS</a></li>
                                    <li><a href="./management-it-ajout.html">AJOUTER UN PROJET</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseExport" aria-expanded="false" aria-controls="collapseExport" class="collapsible">
                            <span class="icon-globe mr-3"></span>EXPORT
                        </a>
                        <div id="collapseExport" class="collapse" aria-labelledby="headingExport">
                            <div>
                                <ul>
                                    <li><a href="./export-liste.html">LISTE DES DOCUMENTS</a></li>
                                    <li><a href="./export-ajout.html">AJOUTER UN DOCUMENT</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="accordion">
                        <a href="#" data-toggle="collapse" data-target="#collapseLivraison" aria-expanded="false" aria-controls="collapseLivraison" class="collapsible">
                            <span class="icon-truck mr-3"></span>LIVRAISON
                        </a>
                        <div id="collapseLivraison" class="collapse" aria-labelledby="headingLivraison">
                            <div>
                                <ul>
                                    <li><a href="./livraison-liste.html">LISTE DES LIVRAISONS</a></li>
                                    <li><a href="./livraison-ajout.html">AJOUTER UNE LIVRAISON</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    
    
    <main>
        <div class="header">
            <div class="header-content d-flex justify-content-between align-items-center py-3 px-4" >
                <h2></h2>
                <div class="d-flex align-items-center">
                    <div class="text-right text-white mr-3">
                        <p class="mb-0">Nom de l'utilisateur</p>
                        <p class="mb-0">Service: Nom du service</p>
                    </div>
                    <img src="images/logo1.png" alt="Profile Image" class="rounded-circle profile-img">
                </div>
            </div>
        </div>
        <div class="site-section">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="card shadow custom-card mx-auto">
                            <div class="card-body p-4">
                                <form method="POST" action="" >
                                    <div class="text-center mb-4">
                                        <p style="color: #000; font-size: 25px;">Ajouter Document</p>
                                    </div>
                                    <!-- Mentions input -->
                                    <div class="form-group mb-4">
                                        <label for="mentions">Mentions</label>
                                        <input type="text" name="mentions" id="mentions" class="form-control form-control-lg" placeholder="Mentions" />
                                    </div>
                                    <!-- Numéro de Rang input -->
                                    <div class="form-group mb-4">
                                        <label for="numeroRang">Numéro de Boite</label>
                                        <input type="number" name="numeroRang" id="numeroRang" class="form-control form-control-lg" placeholder="Numéro de Rang" />
                                    </div>
                                    <!-- Date de Création input -->
                                    <div class="form-group mb-4">
                                        <label for="dateCreation">Date de Création</label>
                                        <input type="date" name="dateCreation" id="dateCreation" class="form-control form-control-lg" />
                                    </div>
                                    <!-- État input -->
                                    <div class="form-group mb-4">
                                        <label for="etat">État</label>
                                        <input type="text" name="etat" id="etat" class="form-control form-control-lg" placeholder="État" />
                                    </div>
                                    <!-- Armoire input -->
                                    <div class="form-group mb-4">
                                        <label for="armoire">Armoire</label>
                                        <input type="text" name="armoire" id="armoire" class="form-control form-control-lg" placeholder="Armoire" />
                                    </div>
                                    <!-- Numéro Compartiment input -->
                                    <div class="form-group mb-4">
                                        <label for="numeroCompartiment">Numéro Compartiment</label>
                                        <input type="text" id="numeroCompartiment" class="form-control form-control-lg" placeholder="Numéro Compartiment" />
                                    </div>
                                    <!-- Niveau input -->
                                    <div class="form-group mb-4">
                                        <label for="niveau">Niveau</label>
                                        <input type="text" name="niveau" id="niveau" class="form-control form-control-lg" placeholder="Niveau" />
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary btn-lg">Valider</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/assets/js/jstra/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/jstra/js/popper.min.js"></script>
    <script src="/static/assets/js/jstra/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jstra/js/main.js"></script>
</html>
