<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Style -->
    <link rel="stylesheet" href="/static/assets/styletra/css/style.css">
    <link rel="stylesheet" href="/static/assets/styletra/css/style1.css">
    <title>TOM-MEDLOG GED</title>
  </head>
  <body>
  
    
    <aside class="sidebar" style="background-color: rgb(49, 47, 47);">
    <div class="toggle">
        <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
        </a>
    </div>

    <div class="side-inner">
        <div class="profile">
            <img src="images/logo.png" alt="Image" class="img-fluid">
        </div>
        
        <!-- Menu principal -->
        <div class="nav-menu">
            <ul>
                <li class="accordion">
                    <a href="./index.html">
                        <span class="icon-home mr-3"></span>MENU PRINCIPAL
                    </a>
                </li>
            </ul>
        </div>

        <div class="nav-menu">
            <ul>
                <li class="accordion">
                    <a href="#" data-toggle="collapse" data-target="#collapseFacturation" aria-expanded="false" aria-controls="collapseFacturation" class="collapsible">
                        <span class="icon-file-text mr-3"></span>FACTURATION
                    </a>
                    <div id="collapseFacturation" class="collapse" aria-labelledby="headingFacturation">
                        <div>
                            <ul>
                                <li><a href="./liste-boites.html">LISTE DES BOITES</a></li>
                                <li><a href="/doc/ajouterboite_page/{{ util.id_utilisateur }}">AJOUTER UNE BOITE</a></li>
                                <li><a href="./liste-documents.html">LISTE DES DOCUMENTS</a></li>
                                <li><a href="./ajouter-document.html">AJOUTER UN DOCUMENT</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion">
                    <a href="#" data-toggle="collapse" data-target="#collapseArchive" aria-expanded="false" aria-controls="collapseArchive" class="collapsible">
                        <span class="icon-archive mr-3"></span>ARCHIVE
                    </a>
                    <div id="collapseArchive" class="collapse" aria-labelledby="headingArchive">
                        <div>
                            <ul>
                                <li><a href="./app-profile.html">LISTE DES BOITES CLOTURÉES</a></li>
                                <li><a href="./app-calender.html">LISTE DES DOCUMENTS CLASSÉS</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion">
                    <a href="#" data-toggle="collapse" data-target="#collapseDocumentation" aria-expanded="false" aria-controls="collapseDocumentation" class="collapsible">
                        <span class="icon-book mr-3"></span>DOCUMENTATION
                    </a>
                    <div id="collapseDocumentation" class="collapse" aria-labelledby="headingDocumentation">
                        <div>
                            <ul>
                                <li><a href="./chart-flot.html">LISTE DES DOCUMENTS</a></li>
                                <li><a href="./chart-morris.html">AJOUTER UN DOCUMENT</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion">
                    <a href="#" data-toggle="collapse" data-target="#collapseTransfert" aria-expanded="false" aria-controls="collapseTransfert" class="collapsible">
                        <span class="icon-sync mr-3"></span>TRANSFERT
                    </a>
                    <div id="collapseTransfert" class="collapse" aria-labelledby="headingTransfert">
                        <div>
                            <ul>
                                <li><a href="./chart-flot.html">LISTER DES DOCUMENTS</a></li>
                                <li><a href="./chart-morris.html">AJOUTER UN DOCUMENT</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion">
                    <a href="#" data-toggle="collapse" data-target="#collapseParcLogistique" aria-expanded="false" aria-controls="collapseParcLogistique" class="collapsible">
                        <span class="icon-truck mr-3"></span>PARC LOGISTIQUE
                    </a>
                    <div id="collapseParcLogistique" class="collapse" aria-labelledby="headingParcLogistique">
                        <div>
                            <ul>
                                <li><a href="./parc-logistique-liste.html">LISTE DES VÉHICULES</a></li>
                                <li><a href="./parc-logistique-ajout.html">AJOUTER UN VÉHICULE</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion">
                    <a href="#" data-toggle="collapse" data-target="#collapseSacherie" aria-expanded="false" aria-controls="collapseSacherie" class="collapsible">
                        <span class="icon-box mr-3"></span>SACHERIE
                    </a>
                    <div id="collapseSacherie" class="collapse" aria-labelledby="headingSacherie">
                        <div>
                            <ul>
                                <li><a href="./sacherie-liste.html">LISTE DES ARTICLES</a></li>
                                <li><a href="./sacherie-ajout.html">AJOUTER UN ARTICLE</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion">
                    <a href="#" data-toggle="collapse" data-target="#collapseComptabilite" aria-expanded="false" aria-controls="collapseComptabilite" class="collapsible">
                        <span class="icon-calculator mr-3"></span>COMPTABILITÉ
                    </a>
                    <div id="collapseComptabilite" class="collapse" aria-labelledby="headingComptabilite">
                        <div>
                            <ul>
                                <li><a href="./comptabilite-liste.html">LISTE DES COMPTES</a></li>
                                <li><a href="./comptabilite-ajout.html">AJOUTER UN COMPTE</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion">
                    <a href="#" data-toggle="collapse" data-target="#collapseManagementIT" aria-expanded="false" aria-controls="collapseManagementIT" class="collapsible">
                        <span class="icon-laptop mr-3"></span>SERVICE IT
                    </a>
                    <div id="collapseManagementIT" class="collapse" aria-labelledby="headingManagementIT">
                        <div>
                            <ul>
                                <li><a href="./management-it-liste.html">LISTE DES PROJETS</a></li>
                                <li><a href="./management-it-ajout.html">AJOUTER UN PROJET</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion">
                    <a href="#" data-toggle="collapse" data-target="#collapseExport" aria-expanded="false" aria-controls="collapseExport" class="collapsible">
                        <span class="icon-globe mr-3"></span>EXPORT
                    </a>
                    <div id="collapseExport" class="collapse" aria-labelledby="headingExport">
                        <div>
                            <ul>
                                <li><a href="./export-liste.html">LISTE DES DOCUMENTS</a></li>
                                <li><a href="./export-ajout.html">AJOUTER UN DOCUMENT</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="accordion">
                    <a href="#" data-toggle="collapse" data-target="#collapseLivraison" aria-expanded="false" aria-controls="collapseLivraison" class="collapsible">
                        <span class="icon-truck mr-3"></span>LIVRAISON
                    </a>
                    <div id="collapseLivraison" class="collapse" aria-labelledby="headingLivraison">
                        <div>
                            <ul>
                                <li><a href="./livraison-liste.html">LISTE DES LIVRAISONS</a></li>
                                <li><a href="./livraison-ajout.html">AJOUTER UNE LIVRAISON</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>



    <main>
        <div class="header">
            <div class="header-content">
                <div class=" text-white py-3">
                    <h2 class="text-center m-0">Liste Des Bo</h2>
                </div>
            </div>
        </div>
      <div class="site-section">
       
       
        <div style="display: flex; justify-content: center; width: 100%;">
            
          <main style="width: 100%;">
            
      
              <div class="site-section">
                
                  <div class="container">
                    <button class="btn btn-info btn-icon btn-sm"><i class="bi bi-plus-lg">Ajouter</i></button>
                    <a href="/doc/ajouterboite_page/{{ util.id_utilisateur }}">Ajouter</a>
                      <div class="row align-items-center">
                        <form class="form-inline my-4" style="width: 100%; justify-content: center;">
                            <input class="form-control mr-sm-2 search-bar w-75" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                      <div class="row align-items-center">
                        
                        <table class="table table-striped table-hover">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Mentions</th>
                                <th scope="col">Numero Rang</th>
                                <th scope="col">Date De Création</th>
                                <th scope="col">Etat</th>
                                <th scope="col">Armoire</th>
                                <th scope="col">Numero Compartiment</th>
                                <th scope="col">Niveau</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for boite in boite %}
                              <tr>
                                <td>{{ boite.mentions }}</td>
                                <td>{{ boite.numero_rang }}</td>
                                <td>{{ boite.date_creation }}</td>
                                <td>{{ boite.etat }}</td>
                                <td>{{ boite.armoire }}</td>
                                <td>{{ boite.numero_compartiment }}</td>
                                <td>{{ boite.niveau }}</td>
                                <td>
                                  <div class="action-buttons">
                                    <button class="btn btn-info btn-icon btn-sm" title="Voir Détails"><i class="bi bi-eye"> <a href="/doc/listedocumentboite/{{ boite.id_boite }}">Détails</a></i></button>
                                    <button class="btn btn-secondary btn-icon btn-sm" title="Liste des Documents"><i class="bi bi-list"> Documents</i></button>
                                  </div>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
    
                      </div>
                  </div>
              </div>
          </main>
      </div>
      
      </div>  
    </main>
    
    

    <script src="/static/assets/js/jstra/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/js/jstra/js/popper.min.js"></script>
    <script src="/static/assets/js/jstra/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/jstra/js/main.js"></script>
  </body>
</html>